@charset "utf-8";
*{
    padding: 0;
    margin:0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	color: gray;
}
body{
	background-color: #fff;
}
header > *{
	margin-top:20px !important;
}
header .aui-iconfont{
    font-size:16px !important; 
    color: #000 !important;
}
header .aui-title{
    color:#000;
}
header{
	position: fixed !important;
	top:0;
} 
.aui-content{
    margin-top:65px !important; 
}
.aui-card-list-header {
    padding: 0 !important;
}
.aui-card-list-content-padded {
    font-size:14px;
    text-align: center;
}
section .aui-card-list-content{
    padding:20px 15px 0;
}
section .aui-card-list-content div{
    color:#000;
    font-size: 12px;
    margin-bottom: 5px;
}
.aui-card-list-footer{
    text-indent:25px;
    color:#000;
    font-size: 12px;
    font-weight: 700;
}
.stor .aui-card-list-header div{
    text-align: center;
    width:100%;
    color:#000;
    font-size:14px; 
} 
.stor ul{
    border:none !important;
}
.aui-list{
    border: none;
    background-size: 100% 0px;
}
.aui-list .aui-list-item {
    border: none;
    background-size: 100% 0px;
}
.stor li{
    border-bottom:1px solid #ddd !important; 
}
.stor .aui-list-item-inner > *{
    color:#000;
    font-size:12px;
    margin-bottom:3px;  
}
.aui-list .aui-list-item-media {
    width: 6rem;
}
.aui-list .aui-list-item-right{
    max-width: 100%;
}
.stor .aui-list-item-inner >div:nth-child(1){
    font-weight: 700;
    font-size:14px; 
}
.stor .aui-list-item-inner >div:nth-child(2){
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
    overflow: hidden;
    font-size:12px;
}
.stor .aui-list-item-inner >div:nth-child(3){
    font-weight: 700;
    font-size:14px; 
}
.stor .aui-list-item-inner >div span{
    font-weight: 12 !important;
    color:gray;
    text-decoration: line-through;
    font-size:12px;
}
.aui-btn {
    background: rgba(0,0,0,0);
    border: 1px solid #000;
    border-radius: 0rem;
}