@charset "utf-8";
*{
    padding: 0;
    margin:0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	color: gray;
	font-size:12px;
}
body{
	background-color: #fff;
}
header > *{
	margin-top:20px !important;
}
header .aui-pull-right {
	padding:0 15px 0 0 !important;
	width:35px;
}
header .aui-iconfont{
	font-size:12px !important; 
}
.aui-bar-nav .aui-title {
    right:3.5rem;
    left:3rem;
}
header{
	background-color: #000 !important;
	position: fixed !important;
	top:0;
}

.hotnews{
	margin-top:1rem;
	position: relative;
}
.hotnews > img{
	position: absolute;
	top:75px;
	right:15px;
	width:50px;
	z-index:0;
}
.hotnews .aui-list-item-text{
	font-size: 12px;
	width: 90%;
}
.hotnews .aui-list-item-text:nth-child(1){
	font-weight:700;
	color:#000;
}
.hotnews .aui-list-item-inner{
	width:100%;
}
.hotnews .aui-list-item-inner > div{
	margin-top:5px;
}
.hotnews .aui-list .aui-list-item-media {
	width:5.5rem;
}
.hotnews ul{
	position: relative;
	height:6rem;
}
.hotnews ul img{
	padding:5px 10px;
}
.hotnews ul li{
	box-shadow: 0 0 10px #bdbdbd;
    -moz-box-shadow: 0 0 10px #bdbdbd;
    -webkit-box-shadow: 0 0 10px #bdbdbd;
	position: absolute !important;
	top:15px;left:0px;
	width:90%;
	margin:0 5% !important;
}
.hotnews ul li .aui-list-item-right{    
	margin-left: 4.25rem;
}
.hotnews ul li .aui-list-item-right img{
	width:20px;
	padding:0;
}
.hotnews ul li a{
	color:gray;
}
.aui-list {
	background-size: 100% 0px !important;
}
.aui-searchbar {
    background-color: #000;
    color: #fff;
}
.aui-searchbar-input {
	background-color: #666666;
}
.aui-searchbar .aui-iconfont {
    color: #fff !important;
}
#search-input::placeholder{
	color:#fff;
}
#aui-slide3{
	margin-top: 65px;
}
.home{
	position: relative;
	padding: 1rem 0 0 !important;
}
.home .homes{
	width:30px;
	height:30px;
	position: absolute;
	top:20px;
	left:60px;
	border-right:1px solid gray;
	transform:rotate(15deg);
	-ms-transform:rotate(15deg); 	/* IE 9 */
	-moz-transform:rotate(15deg); 	/* Firefox */
	-webkit-transform:rotate(15deg); /* Safari 和 Chrome */
	-o-transform:rotate(15deg);
}
.home div{
	font-size:12px;
	color:#000;
}
.home p{
	color:gray;
	font-size:12px;
}
.tits{
	width:100%;
	padding:0 10px 0 10px !important;
	border-left:2px solid #000;
}
.tits .aui-list-item-title{
	width:100%;
	font-weight:700;
	color:#000;
}
.tits .aui-list-item-title span{
	float: right;
	font-weight:14;
	font-size:12px;
}
.tits .aui-list-item-text{
	font-weight:700;
	font-size: 10px;
	color:#000;
}
.rqtj{
	margin-top: 20px;
}
.aui-card-list-content-padded{
	width:100%;
	overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x:scroll;
}
.aui-card-list-content-padded > diV{
	width:900px;
	height:100%;
}
.texts{
	width:150px;
	padding:10px 10px 0 !important;
}
.texts > div p{
	font-weight: 700;
	color:#000;
	font-size:12px;
}
.texts div p a{
	font-size:12px;
	color:gray;
	text-decoration:line-through;
	font-weight:12;
}
.texts > div > *{
	margin-top:5px;
}
.texts > div > div{
	font-size:10px;
	color:#000;
}
.imag div{
	display: inline;
	font-size:12px;
}
.imag img{
	width:35px;
	display: inline;
}
.aui-card-list-content-padded {
    padding: 0rem 0.75rem !important;
}
#aui-slide .aui-slide-wrap{
	border-radius:20px;
	box-shadow:0 0 20px #666666;
    -moz-box-shadow: 0 0 20px #666666;
    -webkit-box-shadow:0 0 20px #666666;
	border:none;
	margin:10px;
	width: 95%;
}

#aui-slide .aui-slide-node > img {
    width: 100%;
	height:40%;
	border-radius: 20px;
}
.images{
	padding: 10px 35% !important;
}
.images img{
	display: inline;
	width:35px;
	transform:rotate(5deg);
	-ms-transform:rotate(5deg); 	/* IE 9 */
	-moz-transform:rotate(5deg); 	/* Firefox */
	-webkit-transform:rotate(5deg); /* Safari 和 Chrome */
	-o-transform:rotate(5deg);
}
.images div{
	display: inline;
	color: #000;
	font-size:14px;
	font-weight: 700;
}
.ysl > div{
	padding:0 10px 0 10px;
}
.ysl > div > div{
	font-size: 12px;
	color:#000;
	font-weight:700;
	margin-top: 5px;
}
.ysl > div > div i{
	text-decoration: line-through;
	font-size:12px;
	color:gray;
	font-weight:12;
}
.ysl > div > div:nth-child(3){
	width:100%;
	text-align: center;
	font-weight:14;
}
.cnxh .aui-card-list{
	text-align: center !important;
	width:100%;
	font-size:14px;
	font-weight: 700;
	color:#000;
}
.cnxh .aui-row{
	padding: 10px 0 0 20px;
}
.cnxh .aui-col-xs-6{
	padding:0 20px 20px 0;
}
.cnxh .aui-col-xs-6 div{
	color:#000;
}
.cnxh .aui-col-xs-6 div:nth-child(2){
	font-weight: 700 !important;
}
.cnxh{
    margin-bottom:50px;
}
.cnxh .aui-col-xs-6 div a{
	color:gray;
	font-weight: 12 !important;
	font-size:12px;
	text-decoration:line-through;
}
.cnxh .aui-col-xs-6 div:nth-child(3){
	font-weight:120 !important;
}
.cnxh .aui-col-xs-6 div:nth-child(4){
	font-size:10px;
	color:gray;
	font-weight: 12 !important;
}
#aui-slide .aui-slide-node.bg-dark{
	border-radius: 20px;
}

