@charset "utf-8";
*{
    padding: 0;
    margin:0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: gray;
}
header{
    padding-top:20px;
    position: fixed !important;
    top:0;
}
.aui-bar-nav{
    background-color: #000 !important;
}
header div{
    color: #fff !important;
}
header a span{
    color:#fff !important;
}
.aui-content{
    margin-top:65px; 
}
.aui-border-b , .aui-list , .aui-list .aui-list-item {
    background-size: 100% 0px !important;
}
.pdd{
    width:100%;
    height:100px;
    background-color: aqua;
}
.aui-list-item-text{
    color:#000 !important;
}
.aui-list .aui-list-item-right, .aui-list-item-title-row em {
    font-size: 0.75rem !important;
    color: #000 !important;
}
li{
    border-bottom:1px solid #ececec !important;
    padding-right:0.75rem !important;
}
.aui-list-item-arrow:before {
    border: 1px solid #000 !important;
    border-top: none !important;
    border-right: none !important;
}
.aui-media-list-item-inner div{
    color:#000;
}
.aui-card-list-user-avatar img{
    width: 70%;
    margin:15px 0;
}
.aui-card-list-user-info {
    font-size: 14px;
    color:#000;
}
.aui-card-list-user-name > * {
    font-size: 14px;
    color:#000 !important;
}
.aui-list .aui-list-item-text {
    font-size: 12px !important;
}
.aui-list .aui-list-item-text > * {
    font-size: 12px !important;

}
.aui-list-item-inner span{
    float: right;
    margin-left:15px;
    color:red;
    font-size:12px;
}
.aui-list-item-inner.aui-list-item-arrow{
    font-size:12px;
}
.aui-list-item-media{
    font-size:12px;
}
.shanc{
    width:25px !important;
     padding:0 !important;
    padding-right: 0 !important;
}
footer{
    position: fixed !important;
    top: auto;
    bottom: 0;
    width:100%;
    height:50px;
}
footer > div{
    width:100%;
    line-height:50px;
    border-top:1px solid #ececec;
}
footer .aui-col-xs-8{
    padding-left:20px;
}
footer .aui-col-xs-8 a{
    color:red;
}
footer .aui-col-xs-4{
    text-align: center;
    color:#fff;
    background-color:#f1c40f;
}
