@charset "utf-8";
*{
    padding: 0;
    margin:0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: gray;
    font-size: 14px;
}
body{
    background-color: #fff;
}
header{
    position: relative;
}
header div.icon{
    width:100%;
    position: absolute;
    top:20px;
    left:0;
}
div.icon a:first-child{
    margin-left:0rem;
}
div.icon a:nth-child(2){
    margin-left:65%;
}
div.icon a:nth-child(3){
    margin-left:1rem;
}
.aui-iconfont{
    font-size:14px !important;
}
.aui-card-list-content-padded{
    background-color: #000 !important;
}
.aui-col-xs-3{
    font-size:16px;
    color:orange;
    margin:15px 0;
}
.aui-col-xs-4 div{
    font-size:10px;
    color:gray;
}
.itty{
    color:orange !important;
    text-decoration:line-through !important;
}
.aui-col-xs-5{
    font-size:14px;
    color:gray;
    padding:15px 0;
}
.aui-list .aui-list-item {
    min-height: 1.2rem !important;
    border:0 !important;
}
.aui-font-size-6{
    font-size:12px; !important;
    color:red !important;
}
.aui-font-size-8{
    font-size:14px; !important;
}
.aui-font-size-4{
    font-size:12px; !important;
    color:gray !important;
}
.aui-list .aui-list-header {
    padding: 0.2rem 0.75rem !important;
    background-color: #f0f0f0 !important;
}
.aui-list.aui-select-list div{
    margin: 5px 0 10px;
    padding-right:15px ;
}
.aui-list-item img{
    width:100%;
    height:80px;
}
li{
    border-bottom:1px solid #ddd !important;
}
.aui-card-list-content-padded {
    padding: 0rem 0.75rem;
}
.aui-list-item-inner{
    color:#000 !important;
    font-size:12px !important;
}
.tant{
    color:red !important;
}
.midd{
    font-size:10px !important;
}
.aui-media-list-item-inner i{
    margin-right:15px;
}
section{
    padding:0 20px 0;
}
div.foot{
    width:100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x:scroll;
}
div.foot>div{
    width:800px;
    height:100%;
}
div.foot>div>div>img{
    height:100px;
    width:100px;
    float: left;
}
div.deser{
    width:100px;
    float: left;
    margin:10px 10px 0 0;
    z-index: 10;
    position: relative;
}
.deser div{
    font-size:12px;
    color:#000;
}
.deser div a{
    color:#000;
}
.deser div span{
    text-decoration:line-through;
    font-size:10px;
}
.aui-card-list {
    margin-bottom: 0rem !important;
}
li.medata{
    border-bottom:0px !important;
}
li.medata>div{
    margin-top:10px;
}
li.medata>div>div{
    font-size:14px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.aui-list .aui-list-item-inner {
  min-height: 0rem !important;
}
 .aui-col-xs-4{
    height:2.6rem;
    line-height:1.3rem;
    color:#fff;
}
.aui-list {
    background-size: 100% 0px !important;
}
.aui-list .aui-list-item{
    background-size: 100% 0px !important;
}
.bord{
    margin-bottom:2.5rem !important;
}
footer{
    width:100%;
}
footer>div{
    height:50px !important;
}
footer div{
    height:50px;
    font-size:12px !important;
}
footer .aui-col-xs-4{
    height:50px;
    line-height:50px;
}
footer a{
    color:#fff;
}
.aui-bar {
    height: 50px;
}
