*{
    padding: 0;
    margin:0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: gray;
}
body{
    position: relative;
}
header{
    padding-top:20px;
    border-bottom: 1px solid #dddddd;
    position:fixed !important;
    top:0;
    left:0;
}
.aui-bar-nav{
    background-color:#000 !important;
}
header div{
    color: #fff !important;
}
header a span{
    color:#fff !important;
}
.aui-bar {
    height: 50px;
}
.aui-card-list-footer >.aui-row{
    width:100%;
}
.aui-searchbar {
    background-color: #000;
    color: #fff;
}
.aui-searchbar-input {
    background-color: #616161;
}
.aui-searchbar .aui-iconfont {
    line-height: 1.4rem;
    margin-right: 0.25rem;
    color: #9e9e9e !important;
    margin-left:10px;
}
section{
    margin-top:65px;
}
.aui-card-list {
    position: relative;
    margin-bottom:0;
    background: #ffffff;
    padding:15px 15px 0;
}
.aui-col-xs-9{
    font-size:15px;
    font-weight: 700;
    color: #000;
}
.aui-col-xs-3{
    font-size:14px;
    color: red;
}
.aui-card-list-footer{
    padding: 0.5rem 0.75rem 0;
}
