*{
    padding: 0;
    margin:0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    color: gray;
}
body{
    background-color: #fff;
}
header{
    padding-top:20px;
    border-bottom: 1px solid #dddddd;
}
.aui-bar-nav{
    background-color: #fff !important;
}
.aui-bar-nav.aui-bar-light .aui-iconfont {
    color:#000 !important;
}
.aui-card-list-content-padded{
    border-bottom: 1px solid #dddddd !important;
}
.aui-col-xs-4 div{
    color:#b79a42;
    text-align: center;
}
.ligh{
    font-size:1.25rem;
}
.aui-card-list {
    margin-bottom: 0 !important;
}
.aui-border-b {
    border-bottom: 1px solid #dddddd !important;
}
.aui-col-xs-6 div{
    text-align: center;
}
.aui-col-xs-6 div:nth-child(2){
    font-size:0.75rem !important;
}
.aui-col-xs-6 div:first-child{
    font-size:1rem;
    color: #000 !important; 
}

li{
    border-bottom: 1px solid #ddd !important;
}
li>div{
    padding:0.75rem;
}
.aui-list .aui-list-item {
    padding-left: 0 !important; 
}   