@charset "utf-8";
body{
	background-color: #F2F2F2;
}
header.aui-bar.aui-bar-nav{
	background-color: #000;
	color: #fff;
	position: fixed !important;
	top:0;
}
header.aui-bar.aui-bar-nav .aui-iconfont{
	color: #fff;
}
header > *{
	margin-top:20px !important; 
}
.aui-conent{
	margin-top:65px; 
	padding:25px 15px;
	font-size:12px;
	background-color: #fff; 
}
body{
	background-color: #fff;
}
.aui-list-item-input{
	background-color: #ececec !important;
	border-radius:20px !important; 
}
.aui-list-item-input input{
	margin:0 10%; 
	width:80%;
	height:2rem !important;
}
::placeholder{
	font-size:12px; 
}
.aui-list-item-label{
	margin-bottom:20px !important;
	color:red; 
	margin-left:10px; 
}
li img{
	width:25px;
}
.aui-list-item-title{
	font-size:12px !important; 
	width:100%;
	margin-left:10px; 
}
.aui-list {
    background-size: 100% 0px !important;
}
.aui-list.aui-list-in .aui-list-item {
	background-size: 100% 0px !important;
}
ul{
	margin:20px 0 !important;
}
li:first-child{
	line-height:45px;
	font-size:14px;  
}
.aui-btn{
	font-size: 14px;
}
.aui-radio:checked{
    background-color: #ffc107;
    border: solid 1px #ffc107;
    text-align: center;
    background-clip: padding-box;
}