
@charset "utf-8";
*{
    padding: 0;
    margin:0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000;
}
#aui-header {
    padding-top: 20px;
    background-color: #000;
    position: fixed !important;
    top:0;
}
header a{
    color:#fff;
}
header div{
    color:#fff;
}
footer div i{
    color:#fff;
}
#footer .aui-btn {
    background-color: #ff3500;
}
.aui-btn-info{
    background-color: #ff3500!important;
}
.aui-btn-info.aui-active, .aui-btn-info:active {
    color: #fff !important;
    background-color: #ff3500 !important;
}
.aui-bar-tab {
    position: fixed;
    top: auto;
    bottom: 0;
    table-layout: fixed;
    background-color: #f5f5f5;
    color: #757575;
}
section{
    margin-top:65px; 
}