*{
    padding: 0;
    margin:0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    color: gray; 
}
header{
    padding-top:20px;
    position: fixed !important;
    top:0;
}
.aui-bar-nav{
    background-color: #000 !important;
}
header a{
    color: gray !important;
}
header a span{
    color:#FFF !important;
}
.aui-card-list-content{
    margin-top: 65px;
    background-color: #FFF;
}
.aui-card-list-content >*{
    font-size:12px !important;
}
.aui-title{
    color:#fff;
}
div ul li{
    border-bottom:1px solid #ececec !important;
}
label input{
    margin-right:5px !important;
}
div.shan label{
    position: relative;
}
div.shan label div{
    position: absolute;
    right:-13rem;top:0px;
}
label div{
    margin-right:10px; 
}
.aui-btn {
    background: #fff;
    border:0.5px solid gray;
    border-radius: 5px !important;
    font-size: 12px;
    height: 1.3rem;
    line-height:25px;
}
a{
    color:gray !important;
}
.aui-btn:nth-child(2){
    color:#ffc107 !important;
    border:1px solid #ffc107;
    margin-left:0.5rem; 
}
.aui-btn:nth-child(2) i{
    color:#ffc107;
}
.aui-list-item-right{
    font-size:14px !important;
}
.aui-list, .aui-list-item {
    background-size: 100% 0px !important;
}
.aui-btn-block {
    margin-top:200px; 
    display: block;
    width:80%;
    height: 2.5rem;
    line-height: 2.55rem;
    margin-bottom: 0;
    font-size:14px;
    margin-left: 10%;
    border: none;
}
.aui-btn-warning{
    font-size:16px !important;
}
.aui-list .aui-list-item-text {
    font-size:12px;
    margin-top: 5px;
}
.aui-radio:checked{
    background-color:#ffc107;
    border: solid 1px #ffc107;
}
li:nth-child(2n){
    margin-bottom:10px !important; 
}
li:nth-child(2n-1){
    border-top:1px solid #ececec !important; 
}
