@charset "utf-8";
*{
    padding: 0;
    margin:0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    color: gray;
}
header{
    padding-top:20px;
    border-bottom: 1px solid #dddddd;
}
.aui-bar-nav{
    background-color: #000 !important;
}
.aui-title{
    color: #fff !important;
}
header a span{
    color:#fff !important;
}
div div i.marg{
    margin:0 10px !important;
    font-style: normal;
    font-size:0.5rem; 
}
body>div{
    background: #fff;
    border-bottom: 1px solid #ddd  !important;
}
span{
    color: red;
    margin-left: 10px;
}
.aui-card-list-user-name > div{
    color:#000;
    font-size:0.75rem; 
}